---
const operations = [
  {
    term: "Cash matters",
    description:
      "Each team member in the Funky Collective is worth a princely 2900 USD Dollars per hour. We're no fans of discounts for junior champs, though!",
  },
  {
    term: "All in",
    description:
      "Our minimum deal kicks off at a whopping 100,000 USD Dollars. We're like relationship builders, not your everyday freelancers.",
  },
  {
    term: "Time is money",
    description:
      "We put in the grind for four days a week, reserving the other trio for thrilling outdoor escapades and indulging in some top-notch family theatrics.",
  },
  {
    term: "Jetsetters",
    description:
      "We're remote workers, so we can team up with you whether you're chilling in a hammock or scaling a mountain. Distance is just a number, right? Learn more",
  },
];
const culture = [
  {
    term: "Humans",
    description:
      "We're all about cooking up design experiences that last longer than your average sitcom binge-watching session. If you're all about quality that stands the test of time and have a sense of purpose as sharp as a chef's knife, we're your kind of people.",
  },
  {
    term: "Earth",
    description:
      "Yep, the internet gobbles up more energy than a famished T-Rex at an all-you-can-eat buffet. Can you believe it? Turns out, 3.8% of the world's carbon footprint is on the internet's tab. So, we're here to whip up brand and digital goodies that not only look cool but also help in giving Mother Earth a much-needed breather.",
  },
];
const social = [
  {
    platform: "YouTube",
    link: "#_",
  },
  {
    platform: "X",
    link: "#_",
  },
  {
    platform: "Instagram",
    link: "#_",
  },
  {
    platform: "Dribbble",
    link: "#_",
  },
];
---
<section>
  <div class="bg-white 2xl:max-w-7xl mx-auto">
    <div class="px-8 pt-24 lg:pt-32 pb-12 md:px-16">
      <div class="grid items-end grid-cols-1 gap-4 lg:grid-cols-3 mx-auto">
        <div
          class="w-full bg-green-500 p-10 lg:p-16 h-full rounded-2xl flex flex-col justify-end">
          <h1
            class="text-4xl tracking-tighter font-display text-white text-balance">
            Who we are and what we offer.
          </h1>
        </div>
        <img
          class="aspect-[4/4] object-cover object-center rounded-2xl max-h-96 lg:col-span-2 w-full"
          src="/placeholders/about.jpg"
          alt="your alt"
        />
      </div>
    </div>
  </div>
</section>
<section>
  <div class="bg-white 2xl:max-w-7xl mx-auto py-12 px-8 md:px-16">
    <div class="max-w-5xl mx-auto">
      <ul
        class="flex flex-col gap-4"
        role="list">
        <li
          class="flex md:items-center md:flex-row flex-col gap-4 text-2xl lg:text-4xl justify-between"
          x-data="{ count: 80, target: 100, counter() { let interval = setInterval(() => { if (this.count < this.target) { this.count += 1; } else { clearInterval(interval); } }, 50); } }"
          x-intersect.once="counter()">
          <p
            class="font-medium text-yellow-300"
            x-text="`${count} +`">
          </p>
          <div class="text-green-500 font-medium">Awwards</div>
        </li>
        <li
          class="flex md:items-center md:flex-row flex-col gap-4 text-2xl lg:text-4xl justify-between"
          x-data="{ count: 10, target: 20, counter() { let interval = setInterval(() => { if (this.count < this.target) { this.count += 1; } else { clearInterval(interval); } }, 50); } }"
          x-intersect.once="counter()">
          <p
            class="font-medium text-pink-500"
            x-text="`${count} million`">
          </p>
          <div class="text-green-500 font-medium">Social media followers</div>
        </li>
        <li
          class="flex md:items-center md:flex-row flex-col gap-4 text-2xl lg:text-4xl justify-between"
          x-data="{ count: 480, target: 500, counter() { let interval = setInterval(() => { if (this.count < this.target) { this.count += 1; } else { clearInterval(interval); } }, 50); } }"
          x-intersect.once="counter()">
          <p
            class="text22xl font-medium text-brown-500"
            x-text="`${count} +`">
          </p>
          <div class="text-green-500 font-medium">Global customers</div>
        </li>
      </ul>
    </div>
  </div>
</section>
<section>
  <div class="bg-white 2xl:max-w-7xl mx-auto">
    <div class="px-8 py-24 mx-auto max-w-6xl md:px-16">
      <div class="max-w-xl">
        <div class="relative max-w-xs">
          <div
            class="absolute inset-0 flex items-center"
            aria-hidden="true">
            <div class="w-full border-t border-green-300"></div>
          </div>
          <div class="relative flex justify-start">
            <span class="bg-white pr-2 text-sm text-green-500 font-medium"
              >About us</span
            >
          </div>
        </div>
        <p
          class="text-4xl tracking-tight font-display text-green-800 lg:text-5xl mt-24 text-balance">
          This is who we really are as an agency.
        </p>
        <p class="text-green-500 text-2xl mt-8 font-display text-balance">
          Your new partners in design crime, except without the masks and capes.
          We’re the cool cats behind digital design and brand wizardry,
          spreading our magic across the world.
          <br />
          <br />
          Why Outkast, you ask? Well, we couldn’t resist the call of the design universe.
          We’re not your average office crowd – more like a bunch of design rebels
          on the loose. We’ve got this awesome network of talented folks and studios
          we team up with whenever we need to rock the design stage.
          <br />
          <br />
          Think of us as the ultimate design dream team, minus the spandex. From
          crafting brand vibes to sprinkling digital fairy dust, we’re the jack-of-all-trades.
          We handle everything from nifty industrial designs to vintage print charm
          to apps that are so slick, they might just steal your heart.
          <br />
          <br />
          But here’s the kicker – we’re not about quick fixes. We’re all about creating
          designs that stand the test of time, not just one-hit wonders. So if you’re
          ready to dive into a world of design awesomeness, give us a shout!
        </p>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="bg-white 2xl:max-w-7xl mx-auto">
    <div class="px-8 py-24 mx-auto max-w-6xl md:px-16">
      <div class="w-full max-w-xl">
        <div class="relative max-w-xs">
          <div
            class="absolute inset-0 flex items-center"
            aria-hidden="true">
            <div class="w-full border-t border-green-300"></div>
          </div>
          <div class="relative flex justify-start">
            <span class="bg-white pr-2 text-sm text-green-500 font-medium"
              >Operations</span
            >
          </div>
        </div>
        <p
          class="text-4xl tracking-tight font-display text-green-800 lg:text-5xl mt-24 text-balance">
          Operations, we're the funky collective.
        </p>
        <dl class="grid gap-12 lg:grid-cols-2 mt-12">
          {
            operations.map((item) => (
              <div>
                <dt class="font-display text-green-900 text-2xl">
                  {item.term}
                </dt>
                <dd class="text-green-500 text-base mt-4 text-pretty">
                  {item.description}
                </dd>
              </div>
            ))
          }
        </dl>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="bg-white 2xl:max-w-7xl mx-auto overflow-hidden relative">
    <img
      src="/shapes/3.svg"
      class="absolute w-full h-full opacity-[0.2] z-0 -left-64 sm:-left-96"
      alt="your alt"
    />
    <div class="px-8 py-24 mx-auto max-w-6xl md:px-16 relative">
      <div class="lg:grid-cols-3 grid gap-12 lg:gap-24">
        <div class="lg:col-span-2">
          <div class="relative max-w-xs">
            <div
              class="absolute inset-0 flex items-center"
              aria-hidden="true">
              <div class="w-full border-t border-green-300"></div>
            </div>
            <div class="relative flex justify-start">
              <span class="bg-white pr-2 text-sm text-green-500 font-medium"
                >Culture</span
              >
            </div>
          </div>
          <p
            class="text-4xl tracking-tight font-display text-green-800 lg:text-7xl mt-24 text-balance">
            We're all about the fun.
          </p>
        </div>
        <dl class="flex flex-col gap-12">
          {
            culture.map((item) => (
              <div>
                <dt class="font-display text-green-900 text-2xl">
                  {item.term}
                </dt>
                <dd class="text-green-500 text-base mt-4 text-pretty">
                  {item.description}
                </dd>
              </div>
            ))
          }
        </dl>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="bg-white 2xl:max-w-7xl mx-auto">
    <div class="px-8 pt-24 pb-12 mx-auto max-w-6xl md:px-16">
      <div class="grid items-end gap-4 lg:grid-cols-2">
        <div class="">
          <div class="relative max-w-xs">
            <div
              class="absolute inset-0 flex items-center"
              aria-hidden="true">
              <div class="w-full border-t border-green-300"></div>
            </div>
            <div class="relative flex justify-start">
              <span class="bg-white pr-2 text-sm text-green-500 font-medium"
                >The team</span
              >
            </div>
          </div>
          <p
            class="text-4xl tracking-tight font-display text-green-800 lg:text-5xl mt-24 text-balance">
            Get to know our team
          </p>
        </div>
        <div class="flex mt-8 ml-auto">
          <a
            href="/team/home"
            class="relative group overflow-hidden rounded-md h-12 px-4 bg-green-200 group-hover:border-b duration-300">
            <div
              aria-hidden="true"
              class="transition duration-300 group-hover:-translate-y-12 text-green-700 font-medium">
              <div class="h-12 flex items-center">
                <span>Get to know us</span>
              </div>
              <div class="h-12 flex items-center justify-between w-full">
                <span>Now </span>
                <span aria-hidden="true">→</span>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
    <img
      class="aspect-[4/4] object-cover object-center rounded-2xl max-h-[80vh] max-w-6xl mx-auto w-full"
      src="https://i.pinimg.com/originals/0e/44/e5/0e44e5e24f4a29328143eb06cada8b15.jpg"
      alt="your alt"
    />
    <div
      class="py-12 grid grid-cols-1 gap-0.5 overflow-hidden rounded-2xl px-8 mx-auto max-w-6xl md:px-16 text-center sm:grid-cols-2 lg:grid-cols-4">
      {
        social.map((item) => (
          <a
            href={item.link}
            title={item.platform}
            class="text-3xl font-semibold tracking-tight text-green-900">
            {item.platform}
          </a>
        ))
      }
    </div>
  </div>
</section>
